.git
.gitignore

.DS_Store

**/node_modules
**/vendor

frontend/dist
frontend/dist-ssr
frontend/.npm-cache
frontend/.npm-logs

backend/.env
backend/storage
backend/bootstrap/cache
backend/database/database.sqlite
backend/public/spa
